
# Cordova plugins for Capacitor
# Generated Config files
App/App/capacitor.config.json
App/App/config.xml
App/App/public
App/Pods
App/build
App/output
DerivedData
Pods/
capacitor-cordova-ios-plugins
xcuserdata
